#conteudo_principal{
    margin-top: 126px;

    font-family: 'Inter', sans-serif;
}


/* <-- BOAS VINDAS --> */
#boasvindas_conteudo_principal > h1 {
    text-align: center;

    font-size: 2.5rem;
    font-weight: 700;

    line-height: 1.1;

    color: #1a365d;
}

#boasvindasSpan{
    background: linear-gradient(135deg, var(--secondary-color), rgb(1, 123, 145));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

#paragrafoBoasVindas{
    width: 90%;

    margin: auto;
    margin-top: 24px;
}

#paragrafoBoasVindas > p{
    font-size: 1.25rem;
    line-height: 1.5;

    color: #1a365d;

    text-align: center;
}


#imagemFachadaBoasVindas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagemFachadaBoasVindas > img {
    width: 100%;

    margin-top: 24px;
}

#buttonsBoasVindas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 32px;

    gap: 24px;
}

#buttonsBoasVindas > a {

    border: 1px solid black;
    border-radius: 8px;

    width: 50%;

    padding: 16px;

    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;

    text-align: left;

    color: #FFF;
}

#buttonApresentarIgreja{

    background: linear-gradient(to right, 
    rgb(0, 91, 107),       /* topo */
    rgb(1, 140, 165)        /* base */
    );  

    border: none !important;
}

#buttonEventos{
    border: 2px solid rgb(0, 91, 107) !important;
    color: rgb(0, 91, 107) !important;
}



/* <-- NOSSA IGREJA --> */

#sobreNossaIgreja{
    background-color: #f7fafc;
    color: #1a365d;
}

#tituloSobreNossaIgreja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    line-height: 1.6;

    margin-top: 46px;
    gap: 7px;

}

#tituloSobreNossaIgreja > h2{
    font-size: 1.75rem;
    font-weight: 600;

    margin-top: 32px;
}

.sublinhadoTitulo{
    width: 25%;

    border-bottom: 5px solid  rgb(1, 140, 165);    /* topo */
    border-radius: 5px;
}

#tituloSobreNossaIgreja > p{
    width: 90%;

    font-size: 1rem;
    font-weight: 100;
}

#conteinerTituloNossaMissao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 36px;
}

#tituloNossaMissao{
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    gap: 12px;

}

#tituloNossaMissao > h2{
    font-size: 1.5rem;
    font-weight: 600;

    line-height: 1.2;
}

#tituloNossaMissao > p {
    font-size: 1rem;
    font-weight: 100;

    line-height: 1.6;
}

#imagemSobreNossaIgreja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#imagemSobreNossaIgreja > img{
    width: 80%;
    
    border-radius: 16px;

    margin-top: 24px;
}



/* <-- NOSSOS MINISTERIOS <-- */

#nossosMinisterios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #FFF;

    margin-top: 56px;
}

#tituloNossosMinisterios{
    width: 85%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    gap: 12px;
}

#tituloNossosMinisterios > h2{
    font-size: 1.5rem;
    font-weight: 600;

    line-height: 1.2;
}

#tituloNossosMinisterios > p {
    font-size: 1rem;
    font-weight: 100;

    line-height: 1.6;
}

#boxPrincipalMinisterios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 56px;

    margin-top: 36px;
}


.boxMinisterios{
    width: 85%;
    height: 200px;

    display: flex;
    flex-direction: column;
    justify-content: center;    

    gap: 8px;

    background: linear-gradient(to bottom, 
    rgb(0, 91, 107),       /* topo */
    rgb(0, 110, 125)     /* meio */
    );

    color: #FFF;

    border-radius: 16px;
    
    text-align: center;

    padding: 10px;

    box-shadow: 8px 8px 20px rgb(134, 134, 134);
}


.boxMinisterios > h3{
    font-size: 1.5rem;
    font-weight: 600;

    line-height: 1.2;

    color: #ed8936;;
}

.boxMinisterios > p{
    font-size: 1rem;
    font-weight: 100;

    line-height: 1.6;
}

.boxMinisterios > a{
    padding-bottom: 8px;

    text-decoration: none;
    text-transform: uppercase;
    color: #FFF;

    cursor: pointer;

    padding-top: 12px;
    font-weight: 600;
}

.boxMinisterios > a:hover{
    color: rgb(189, 93, 14) ;

    text-decoration: underline;
}



/* <-- EVENTOS E CULTOS <-- */


#eventosECultos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 56px;
    padding-top: 46px;

    background-color: #f7fafc;
    color: #1a365d;
}

#tituloEventosECultos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    line-height: 1.6;

    gap: 7px;
}

#tituloEventosECultos > h2 {
    width: 100vw;

    font-size: 1.75rem;
    font-weight: 600;
}

#tituloEventosECultos > p {
    font-size: 1rem;
    font-weight: 100;
}

#conteinerProgramacao{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 56px;
    margin-bottom: 56px;

    background-color: #FFF;

    border-radius: 16px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#tituloProgramacaoSemanal{
    width: 50%;

    font-size: 1.75rem;
    font-weight: 600;
    text-align: center;

    margin: 36px 0px 36px 0px;
}

#boxPrincipalProgramacaoSemanal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 20px;
}

.boxProgramacao{
    width: 100%;

    display: flex;
    flex-direction: column;
    
    gap: 4px;
    margin-top: 18px;
    padding-bottom: 16px;

    border-bottom: 1px solid rgb(216, 216, 216);
}

.boxProgramacao > h3, h4{
    font-size: 0.938rem;
    font-weight: 500;
    line-height: 1.6;
}

.boxProgramacao > p {
    font-size: 0.816rem;
    line-height: 1.6;
}

.borderNone{
    border: none;
}


/*<-- LOCALIZAÇÃO -->*/

#conteinerLocalizacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 56px;
}


#tituloLocalizacao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    line-height: 1.6;

    gap: 7px;
}

#tituloLocalizacao > h2{
    width: 100vw;

    font-size: 1.75rem;
    font-weight: 600;
}


#tituloLocalizacao > p {
    font-size: 1rem;
    font-weight: 100;
}

#boxPrincipalLocalizacao{
    width: 80vw;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 32px;

    margin-top: 56px;

}

.boxLocalizacao{

    display: flex;
    flex-direction: row;
    
    gap: 12px;
}

.boxInfoLocalizacao{
    display: flex;
    flex-direction: column;
    
    gap: 4px;

    line-height: 1.6;
}


.boxInfoLocalizacao > h2{
    font-weight: 500;
    line-height: 1.6;
}

.boxInfoLocalizacao > p{
    font-size: 0.986rem;
    font-weight: 100;

}

.fas{
    color: #ed8936;
    font-size: 1.5rem;
    padding-top: 5px;
}

#comoChegar{
    margin-top: 24px;
}

#comoChegar > a {
    padding: 16px;

    border-radius: 12px;
    background-color: #1a365d;

    text-decoration: none;
    text-transform: uppercase;

    color: #FFF;
    font-weight: 500;
    font-size: 0.816rem;
    line-height: 1.6;
    
}

#comoChegar > a > i {
    color: #FFF;
    font-size: 1rem;
    margin-right: 8px;
}